.nav-bar{
    display: flex;
    position: relative;
    top: 10px;
    justify-content: space-around;
    height: 25px;

    
}
.email{
    font-family: 'poppins', sans-serif;
    display: flex;
    position: relative;
    color: white;
}
.menu {
    position: relative;
    color: white;
    font-size: 20px;
    display:flex;
    gap: 60px;
    right: 30px;
    font-family: 'poppins',sans-serif;
    list-style: none;
    left: 25px;
}
.menu a{
    color: white;
}
.foto-perfil img{
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    left: 260px;
    top: 200px;
    border-radius: 50%;
    animation: float 2s infinite;
}
.sobre{
    display: flex;
    position: relative;
    font-family: 'poppins ', sans-serif;
    color: rgb(251, 251, 250);
    flex-direction: column;
    width: 400px;
    height: 200px; 
    justify-content: center;
    left: 650px;
    bottom: 60px;
}
.sobre h1{
    font-size: 35px;
    color:transparent;
    background: radial-gradient(circle farthest-corner at center center, #cfcfcf17 0%, #0000002d 100%);
    -webkit-text-stroke: 1px #d0900fe8;
}
.sobre ul{
    position: relative;
    width: 550px;
    text-align:justify;
    font-size:15px;
    right: 25px;
    bottom: 20px;
}
.sobre li{
    padding-top: 10px;
}
.projetos{
    background: rgba(0, 0, 0, 0.351);
    box-shadow: 0 8px 32px 0 rgba(4, 4, 10, 0.65);
    overflow: hidden;
    display: flex;
    position: relative;
    flex-direction: column;
}
.projetos h1{
    display: flex;
    position: relative;
    box-shadow: 10px;
    width: auto;
    height: 400px;
    top: 10px;
    justify-content: center;
    align-items: center;
    font-size: 58px;
    font-weight: 400;
    font-family: "roboto mono",monospace;
    color: white;
}
.projetos img{
    width: 450px;
    height: 300px;
}

@keyframes float{
    50%{
        transform: translateY(-2%);
    }
}