body{
    margin: 0;
}
canvas{
    display: block;
    
}
a{
    text-decoration: none;
}
html{
    width: 100%;
    height:auto;
    background-image: url("../imagens/paul-volkmer-qVotvbsuM_c-unsplash.jpg");
    background-repeat: repeat;
    background-size: cover;
    
}